{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="sz-contact" >
        <div class="g-grid">
            {% for contact in particle.contactInfo %}
                <div class="g-block {{ contact.class }}">
                    <div class="g-content">
                        <i class="{{ contact.icon }} contact-icons"></i>
                        <h2 class="sz-contact-title">{{ contact.title|raw }}</h2>
                        <h3 class="sz-contact-subtitle">{{ contact.subtitle|raw }}</h3>
                        <p>{{ contact.description|raw }}</p>
                        {% if particle.linktext %}
                            <a href="{{ particle.link|e }}">{{ particle.linktext|e }}</a>
                        {% endif %}
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}