{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="content-particle sz-customcontentSZ" >
        <div class="g-grid " >
            <div class="g-block">
                <div class="g-content">
                    <div "
                        {#HEIGHT#}
                        {% if particle.height %}     
                            style='min-height: {{ particle.height }};'>
                        {% else %}
                            >
                        {% endif %}
                        {#IMAGE#}
                        {% if particle.image %}
                            <img src="{{ url(particle.image) }}" alt="{{ particle.maintitle|e }}" />
                        {% endif %}
                        
                        {#ICON#}
                        {% if particle.mainicon %}  
                            <div><i class="{{ particle.mainicon }} sz-customcontent-icons" style="display:block;"></i></div>
                        {% endif %}
                        
                        {#TITLE#}
                        {% if particle.maintitle %}
                            <div class="sz-customcontent-title">
                                <h1>{{ particle.maintitle|raw }}</h1>
                            </div>
                        {% endif %}
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <div class="SZ-customcontent-description">{{ particle.description|raw }}</div>
                        {% endif %}
                        
                        {#BUTTONS-LINKS#}
                        {% if particle.linktext %}
                            <a href="{{ particle.link|e }}" class="button {{ particle.linkstyle|default('') }}" role="button">{{ particle.linktext|e }}</a>
                        {% endif %}
                        {% if particle.linktext2 %}
                            <a href="{{ particle.link2|e }}" class="button {{ particle.linkstyle2|default('') }}" role="button">{{ particle.linktext2|e }}</a>
                        {% endif %}
                        {% if particle.linktext3 %}
                            <a href="{{ particle.link3|e }}" class="button {{ particle.linkstyle3|default('') }}" role="button">{{ particle.linktext3|e }}</a>
                        {% endif %}                        
                    </div>
                </div>
            </div>
        </div>
        <div class="g-grid sz-customcontent-subitem">
            {% for subitem in particle.subitems %}
                <div class="g-block {{ subitem.class }}">
                    <div class="g-content">
                        <i class="{{ subitem.icon }} subitem-icons"></i>
                        <h2 class="sz-subitem-title">{{ subitem.title|raw }}</h2>
                        <h3 class="sz-subitem-subtitle">{{ subitem.subtitle|raw }}</h3>
                        <p>{{ subitem.description|raw }}</p>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}