{% extends '@nucleus/partials/particle.html.twig' %} 

{% block particle %}
    <div class="portfolio-sz">
        <div class="g-grid ">
            <div class="g-block">
                <div class="g-content">
                    <div>
                        {#HEADLINE#}
                        {% if particle.headline %}
                            <div class="portfolio-sz-title ">{{ particle.headline|raw }}</div>
                        {% endif %}
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <div class="portfolio-sz-description ">{{ particle.description|raw }}</div>
                        {% endif %}


{% for portfolio in particle.portfolios %}

    <div class="portfolio-sz-tags">
        {% for tag in portfolio.tags %}
        <span class="tag">
            {{ tag.text|raw }}
        </span>
        {% endfor %}
    </div>
 {% endfor %}
 {# https://stackoverflow.com/questions/17788424/how-to-remove-duplicated-items-in-array-on-twig #}
                        
                    </div>
                </div>
            </div>
        </div>

        {# PORTFOLIOS #}
        <div class="portfolio-sz-wrapper">
            {% for portfolio in particle.portfolios %}
                <div class="g-grid ">
                    <div class="g-block portfolio-sz-item scale-anm all web above slide-in">

                        <div class="portfolio-sz-image-container">
                            {% if portfolio.image %}
                                <div class="portfolio-sz-image">
                                    <img src="{{portfolio.image}}" alt="{{portfolio.maintitle|default('')}}"> 
                                </div>
                            {% endif %}

                            <div class="portfolio-sz-container">
                                  <div class="portfolio-sz-links">
                                    {#BUTTONS-LINKS#}
                                    {% if portfolio.linktext1 %}
                                        <a href="{{ portfolio.link1|e }}" 
                                            class="button {{ portfolio.linkstyle1|default('') }}" 
                                            role="button">{{ portfolio.linktext1|e }}</a>
                                    {% endif %}
                                    {% if portfolio.linktext2 %}
                                        <a href="{{ portfolio.link2|e }}" 
                                            class="button {{ portfolio.linkstyle2|default('button-2') }}" 
                                            role="button">{{ portfolio.linktext2|e }}</a>
                                    {% endif %}
                                    {% if portfolio.linktext3 %}
                                        <a href="{{ portfolio.link3|e }}" 
                                            class="button {{ portfolio.linkstyle3|default('button-outline') }}" 
                                            role="button">{{ portfolio.linktext3|e }}</a>
                                    {% endif %}                                 
                                </div>
                            </div>
                            
                        </div>
                        

                        <div class="portfolio-sz-content">
                            {# TITLE #}
                            {% if portfolio.maintitle %}
                                <div class="portfolio-sz-item-title">{{ portfolio.maintitle|raw }}</div>
                            {% endif %}

                            {# DESCRIPTION #}
                            {% if portfolio.description %}
                                <div>{{ portfolio.description|raw }}</div>
                            {% endif %}                                

                            {# TAGS #}
                            {% if portfolio.tags %}
                                <div class="portfolio-sz-tags">
                                    {% for tag in portfolio.tags %}
                                        <span class="tag">
                                                {{ tag.text|raw }}
                                        </span>
                                    {% endfor %}
                                </div>
                            {% endif %}

                        </div>

                         


                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<div class="toolbar mb2 mt2">
    <button class="button fil-cat" href="" data-rel="all">All</button>
    <button class="button fil-cat" data-rel="web">Websites</button>
    <button class="button fil-cat" data-rel="flyers">Flyers</button>
    <button class="button fil-cat" data-rel="bcards">Business Cards</button>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script>
    $(function () {
        var selectedClass = "";
        var portfolio_wrapper = document.getElementsByClassName("portfolio-sz-wrapper");
        $(".fil-cat").click(function () {
            selectedClass = $(this).attr("data-rel");
            $(".portfolio-sz-wrapper").fadeTo(100, 0.1);
            $(".portfolio-sz-item").not("." + selectedClass).fadeOut().removeClass('scale-anm');
            setTimeout(function () {
                $("." + selectedClass).fadeIn().addClass('scale-anm');
                $(".portfolio-sz-wrapper").fadeTo(300, 1);
            }, 300);

        });
    });
</script>

{% endblock %}