{% extends '@nucleus/partials/particle.html.twig' %} 

{#{% block stylesheets %}#}
{#    {{ parent() }}#}
    {#<link rel="stylesheet" href="{{ url('gantry-theme://xxx.min.css') }}" type="text/css"/>#}
{#{% endblock %}#}

{#IF TAG FILTERING IS ENABLED, LOAD JQUERY CDN ON FOOTER #}
{% block javascript_footer %}
	{% if particle.enabled %}
	    {% if particle.filterPortfolios == 'Yes' %}
		    {{ parent() }}

            <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
                crossorigin="anonymous">
            </script>
            
    		{#<script src="{{ url('gantry-theme://xxx.min.js') }}" type="text/javascript"></script>#}
            {#{{ joomla.html('jquery.framework') }}#}
            {#{% do gantry.document.addFramework('jquery.framework') %}#}
            
            <script>
                $(function () {
                    var selectedClass = "";
                    var portfolio_wrapper = document.getElementsByClassName("portfolio-sz-wrapper");
                    $(".sz-filter-tags").click(function () {
                        selectedClass = $(this).attr("data-rel");
                        $(".portfolio-sz-wrapper").fadeTo(100, 0.1);
                        $(".portfolio-sz-item").not("." + selectedClass).fadeOut().removeClass('scale-effect');
                        setTimeout(function () {
                            $("." + selectedClass).fadeIn().addClass('scale-effect');
                            $(".portfolio-sz-wrapper").fadeTo(300, 1);
                        }, 300);
            
                    });
                });
            </script>
            
        {% endif %}
	{% endif %}
{% endblock %}



{% block particle %}
    <div class="portfolio-sz">
        <div class="g-grid ">
            <div class="g-block">
                <div class="g-content">

                    <div>
                        {#HEADLINE#}
                        {% if particle.headline %}
                            <div class="portfolio-sz-title ">{{ particle.headline|raw }}</div>
                        {% endif %}
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <div class="portfolio-sz-description ">{{ particle.description|raw }}</div>
                        {% endif %}


                        {# FILTER TAGS BUTTONS #}
                        {# https://stackoverflow.com/questions/17788424/how-to-remove-duplicated-items-in-array-on-twig #}
                        {% if particle.filterPortfolios == 'Yes' %}
                            <div class="sz-filter-tags-wrapper">
                            <button class="button sz-filter-tags" href="" data-rel="all">All</button>
                            
                            {% set tagsUniqueArray = [] %}
                            {% for portfolio in particle.portfolios %}
                                {% for tag in portfolio.tags %}
                                
                                       {% if tag not in tagsUniqueArray %}
                                            <button data-rel="{{ tag.text|raw }}"
                                                    class="button sz-filter-tags {{ tag.text|raw }}">
                                                {{ tag.text|raw }}
                                            </button>
                                            {% set tagsUniqueArray = tagsUniqueArray|merge([tag]) %}
                                       {% endif %}
                                       
                                {% endfor %}
                             {% endfor %}
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>

        {# PORTFOLIOS #}
        {#TODO: fix if #}
        <div class="portfolio-sz-wrapper
            {% if particle.gutter == 'Yes' %} 
                 portfolio-sz-gutter 
            {% endif %}
            {% if particle.columns == 'grid2'  %} 
                portfolio-sz-2-column 
            {% elseif particle.columns == 'grid3'  %} 
                portfolio-sz-3-column 
            {% elseif particle.columns == 'grid4'  %} 
                portfolio-sz-4-column                 
            {% endif %}
        ">

            {% for portfolio in particle.portfolios %}
                <div class="g-grid portfolio-sz-item scale-effect all above slide-in 
                                {% if portfolio.tags %}
                                        {% for tag in portfolio.tags %}
                                           {{ tag.text|raw }} 
                                        {% endfor %}
                                {% endif %}
                ">
                    <div class="g-block">

                        <div class="portfolio-sz-image-container">
                            {% if portfolio.image %}
                                <div class="portfolio-sz-image">
                                    <img src="{{portfolio.image}}" alt="{{portfolio.maintitle|default('')}}"> 
                                </div>
                            {% endif %}

                            <div class="portfolio-sz-container">
                                  <div class="portfolio-sz-links">
                                    {#BUTTONS-LINKS#}
                                    {% if portfolio.linktext1 %}
                                        <a href="{{ portfolio.link1|e }}" 
                                            class="button {{ portfolio.linkstyle1|default('') }}" 
                                            role="button">{{ portfolio.linktext1|e }}</a>
                                    {% endif %}
                                    {% if portfolio.linktext2 %}
                                        <a href="{{ portfolio.link2|e }}" 
                                            class="button {{ portfolio.linkstyle2|default('button-2') }}" 
                                            role="button">{{ portfolio.linktext2|e }}</a>
                                    {% endif %}
                                    {% if portfolio.linktext3 %}
                                        <a href="{{ portfolio.link3|e }}" 
                                            class="button {{ portfolio.linkstyle3|default('button-outline') }}" 
                                            role="button">{{ portfolio.linktext3|e }}</a>
                                    {% endif %}                                 
                                </div>
                            </div>
                            
                        </div>
                        

                        <div class="portfolio-sz-content">
                            {# TITLE #}
                            {% if portfolio.maintitle %}
                                <div class="portfolio-sz-item-title">{{ portfolio.maintitle|raw }}</div>
                            {% endif %}

                            {# DESCRIPTION #}
                            {% if portfolio.description %}
                                <div>{{ portfolio.description|raw }}</div>
                            {% endif %}                                

                            {# TAGS #}
                            {% if particle.displayTags == 'Yes' %}
                                {% if portfolio.tags %}
                                    <div class="portfolio-sz-tags">
                                        {% for tag in portfolio.tags %}
                                            <span class="tag">{{ tag.text|raw }} </span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}