{% extends '@nucleus/partials/particle.html.twig' %} 

{% block particle %}
    <div class="portfolio-sz">
        <div class="g-grid ">
            <div class="g-block">
                <div class="g-content">
                    <div>
                        {#HEADLINE#}
                        {% if particle.headline %}
                            <div class="sz-customcontent-title ">{{ particle.headline|raw }}</div>
                        {% endif %}
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <div class="customcontent-description ">{{ particle.description|raw }}</div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        {# PORTFOLIOS #}
        <div class="portfolio-sz-wrapper">
            {% for portfolio in particle.portfolios %}
                <div class="g-grid ">
                    <div class="g-block portfolio-sz-item">

                    
                        {% if portfolio.image %}
                            <div class="portfolio-sz-image">
                                <img src="{{portfolio.image}}" alt="{{portfolio.maintitle|default('')}}"> 
                            </div>
                        {% endif %}

                            <div class="portfolio-sz-content">
                                {# TITLE #}
                                {% if portfolio.maintitle %}
                                    <div>{{ portfolio.maintitle|raw }}</div>
                                {% endif %}

                                {# DESCRIPTION #}
                                {% if portfolio.description %}
                                    <div>{{ portfolio.description|raw }}</div>
                                {% endif %}                                

                                {# TAGS #}
                                {% if portfolio.tags %}
                                    <div class="portfolio-sz-tags">
                                        {% for tag in portfolio.tags %}
                                            <span class="tag">
                                                    {{ tag.text|raw }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                            <div class="portfolio-sz-links">
                                {#BUTTONS-LINKS#}
                                {% if portfolio.linktext1 %}
                                    <a href="{{ portfolio.link1|e }}" 
                                        class="button {{ portfolio.linkstyle1|default('') }}" 
                                        role="button">{{ portfolio.linktext1|e }}</a>
                                {% endif %}
                                {% if portfolio.linktext2 %}
                                    <a href="{{ portfolio.link2|e }}" 
                                        class="button {{ portfolio.linkstyle2|default('button-2') }}" 
                                        role="button">{{ portfolio.linktext2|e }}</a>
                                {% endif %}
                                {% if portfolio.linktext3 %}
                                    <a href="{{ portfolio.link3|e }}" 
                                        class="button {{ portfolio.linkstyle3|default('button-outline') }}" 
                                        role="button">{{ portfolio.linktext3|e }}</a>
                                {% endif %}                                 
                            </div>



                         


                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}