{% extends '@nucleus/partials/particle.html.twig' %}



{% block particle %}



    <div class="content-particle skillbarSZ" >
        <div class="g-grid">
            
            <div class="g-block">
                <div class="g-content">
                    <div>
                        {#HEADLINE#}
                        {% if particle.headline %}
                            <h1 >{{ particle.headline|raw }}</h1>
                        {% endif %}
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <h4>{{ particle.description|raw }}</h4>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>

            <style>
                    @keyframes expanddiv { 
                    0%  { width:0px; } 
                    100%{ width:{{ bar.percentance }}% ;}  
                }
            </style>


            <div class="g-block">
                <div class="g-content">
                    <div class="sz-skillbars  {{ particle.style }}">
                        {% for bar in particle.bars %}
                            <span class="sz-skillsbar-title">{{ bar.skillTitle|raw }}</span>
                            <span class="sz-skillsbar-percentance"> {{ bar.percentance }}%</span>
                                <div class="container">
                                <div class="skills" 
                                     style="width:{{ bar.percentance }}%;
                                            background-color:{{ bar.color }};
                                            transition: width 2s linear 1s;">
                                
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>        
        
    </div>
{% endblock %}
