{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="content-particle skillbarSZ" >
        <div class="g-grid">
            
            <div class="g-block">
                <div class="g-content">
                    <div>
                        {#HEADLINE#}
                        {% if particle.headline %}
                            <h1>{{ particle.headline|raw }}</h1>
                        {% endif %}
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <div>{{ particle.description|raw }}</div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sz-skillbars">
            {% for bar in particle.bars %}
                <h2>{{ bar.skillTitle|raw }}</h2>
                <div class="container">
                    <div class="skills" style="width:{{ bar.percentance }};
                                                background-color:{{ bar.color }};">
                        {{ bar.percentance }}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        
    </div>
{% endblock %}
