{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="content-particle timelineSZ" >
        <div class="g-grid">
            
            <div class="g-block">
                <div class="g-content">
                    <div>
                        {#HEADLINE#}
                        {% if particle.headline %}
                            <h1>{{ particle.headline|raw }}</h1>
                        {% endif %}
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <div class="sz-timeline-description">{{ particle.description|raw }}</div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sz-timeline">
            {% for event in particle.events %}
                <div class="container {{ event.position }} {{ event.class }}">
                    <div class="content">
                        <h2>{{ event.date }}</h2>
                        <h3>{{ event.eventTitle|raw }}</h3>
                        
                        <p>{{ event.description|raw }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        
    </div>
{% endblock %}
