{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="content-particle sz-timelineSZ" >
        <div class="g-grid">
            
            <div class="g-block">
                <div class="g-content">
                    <div>
                        {#HEADLINE#}
                        {% if particle.headline %}
                            <h1>{{ particle.headline|raw }}</h1>
                        {% endif %}
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <div class="timelineSZ-description">{{ particle.description|raw }}</div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="g-grid">
            {% for event in particle.events %}
                <div class="g-block {{ event.class }}">
                    <div class="g-content">
                        <i class="{{ event.icon }} event-icons"></i>
                        <h1>{{ event.title|raw }}</h1>
                        {{ event.subtitle|raw }}
                        </br>
                        {{ event.description|raw }}
                        <p>date: {{ event.date }}</p>
                        <p>position: {{ event.position }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        
    </div>
{% endblock %}

{#<div class="timeline">#}
{#  <div class="g-block left">#}
{#    <div class="g-content">#}
{#      <h2>2017</h2>#}
{#      <p>Lorem ipsum..</p>#}
{#    </div>#}
{#  </div>#}
{#  <div class="container right">#}
{#    <div class="content">#}
{#      <h2>2016</h2>#}
{#      <p>Lorem ipsum..</p>#}
{#    </div>#}
{#  </div>#}
{#</div>#}